@keyframes testRotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

div{
  background: yellow;
  width: 12%;
}
.LinaBoBardi {
	color: blue;
    text-align: center;
    animation-timing-function: linear;
    transform-origin: center center;
}

.LinaBoBardi:hover{
    transform: rotate(360deg);
    animation: testRotate 3s infinite;
}