#content, html, body {
    height: 98%;
    background-color: rgb(236, 232, 223);
    font-family: 'Roboto Slab', serif;
    color:black
}

*{
    box-sizing: border-box;
    margin: 20px;
    padding: 0px;

}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@keyframes LinaBoBardiRotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.LinaBoBardi {
    text-align: center;
    animation-timing-function: linear;
    transform-origin: center center;
    width: 12%;
}
.LinaBoBardi:hover{
    transform: rotate(360deg);
    animation: LinaBoBardiRotate 3s infinite;
}
@keyframes HouseRotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.HouseorMuseums {
    text-align: center;
    animation-timing-function: linear;
    transform-origin: center center;
    width: 12%;
}
.HouseorMuseums:hover{
    transform: rotate(360deg);
    animation: HouseRotate 3s infinite;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 600px;
    margin: 0px;
    padding: 0px;
}
.prompt1 {
    display: flex;
    align-self: flex-start;
    width: 300px; 
}
.response1 {
    display: flex;
    align-self: flex-end;
    width: 450px;
}
.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 600px;
    margin: 0px;
    padding: 0px;
}
.prompt2 {
    display: flex;
    align-self: flex-start;
    width: 300px;
}
.response2 {
    display: flex;
    align-self: flex-end;
    width: 450px;
}